body {
    background-image: url('hd-wallpaper-kompres.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    font-weight:bold;
    font-size: 60px;
    font-family: sans-serif;
    color: #000;
}
a {
    /* text-decoration: underline; */
    text-decoration: none;
    color: #3333ff;
    font-size: 30px;
    font-weight: bolder;
}
.box {
    width: 40%;
    height: 40%;
    background-color: rgba(255,255,255,0.7);
    padding: 2%;
    text-align: center;
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}